*{
    box-sizing: border-box;
    background: pink;
}
body{
    margin:0;
    font-family: sans-serif;
    background: #204862;
}
h1{
    color: rgb(48, 182, 43);
    text-align: center;
}
h2{
    color: rgb(25, 209, 209);
    text-align: center;
}
.form_register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
}
.form_titulo{
    background: rgb(158, 8, 28);
    color:rgb(207, 25, 25);
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor_inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border:3px solid darkgray
}
.input-48{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    font-size: 20px;
    text-align: center;
}
.btn-enviar:active{
    transform: scale(1.85);
}
.form__link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}
.clase{
    width: 95%;
    margin: 0px;
}
img{
    text-align: center;
}

.container-table{
    width: 100%;
    background: cadetblue;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;

    position: relative;
}
.table-title{
    grid-column-start: 1;
    grid-column-end:4 ;

    background: orange;
    color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9m;
}
.table-header, .table-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-header{
    font-weight: bold;
    font-size: 1.5em;
}
.table-item{
    padding: 10px;
    font-size: 1.2em;
}

/*Editar*/

.title-edit{
    position: absolute;
    right: 7%;
    color: white;
    text-decoration: none;
}
.title-edit:hover{
    text-decoration: underline;
}

.container-table-edit{
    grid-template-columns: repeat(5, 1fr);
}
.table-input{
    display: block;
    padding-left: 10px;
}
.container-submit-actualizar{
    background: skyblue;
    padding: 0;
    margin: 0;
    font-size: 1.5px;
}
.container-tablee{
    width: 100%;
    background: cadetblue;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;

    position: relative;
}
.table-titlee{
    grid-column-start: 1;
    grid-column-end:5 ;

    background: orange;
    color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9m;
}